.button {
    color: white;
    text-transform: uppercase;
    min-width: 15vw;
    /* font-size: 1rem; */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.button-danger {
    background-color: red;

}

.button-primary {
    background-color: deepskyblue;
}

.button-large {
    /* font-size: 1.2rem; */
    padding: 12px 20px;


}

.button-medium {
    /* font-size: 1rem; */
    padding: 10px 15px;

}